In [1]:
import pandas as pd

In [2]:
st_df = pd.read_csv("telecom_churn.csv")
st_df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [3]:
# .info()
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [5]:
#метод .astype("category") для оптимизации
st_df['state'] = st_df['state'].astype('category')
st_df['phone number'] = st_df['phone number'].astype('category')
st_df['international plan'] = st_df['international plan'].astype('category')
st_df['voice mail plan'] = st_df['voice mail plan'].astype('category')

In [6]:
# .info()
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   category
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   category
 4   international plan      3333 non-null   category
 5   voice mail plan         3333 non-null   category
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), category(4), float64(8), int64(8)
memory usage: 594.1 KB

In [8]:
IntGroups = st_df.groupby("international plan")
IntGroups

C:\Users\atyra\AppData\Local\Temp\ipykernel_25104\4072923127.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  IntGroups = st_df.groupby("international plan")

In [9]:
type(IntGroups)

pandas.core.groupby.generic.DataFrameGroupBy

In [10]:
len(IntGroups)

2

In [11]:
st_df["international plan"].nunique()

2

In [12]:
IntGroups.size()

international plan
no     3010
yes     323
dtype: int64

In [13]:
st_df["international plan"].value_counts()

international plan
no     3010
yes     323
Name: count, dtype: int64

In [14]:
IntGroups['total day calls'].max()

international plan
no     165
yes    146
Name: total day calls, dtype: int64

In [15]:
IntGroups['total day calls'].min()

international plan
no      0
yes    42
Name: total day calls, dtype: int64

In [16]:
IntGroups['total day calls'].describe()

,count,mean,std,min,25%,50%,75%,max
international plan,,,,,,,,
no,3010.0,100.410963,19.964447,0.0,87.25,101.0,114.0,165.0
yes,323.0,100.665635,21.050065,42.0,85.50,103.0,117.0,146.0

In [17]:
st_df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [21]:
IntGroups.first()

,state,account length,area code,phone number,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
international plan,,,,,,,,,,,,,,,,,,,,
no,KS,128,415,382-4657,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
yes,OH,84,408,375-9999,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False

In [22]:
IntGroups.last()

,state,account length,area code,phone number,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
international plan,,,,,,,,,,,,,,,,,,,,
no,TN,74,415,400-4344,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False
yes,CT,184,510,364-6381,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [23]:
IntGroups.indices

{'no': array([   0,    1,    2, ..., 3329, 3330, 3332], dtype=int64),
 'yes': array([   3,    4,    5,    7,    9,   38,   41,   66,   67,   81,  115,
         135,  144,  147,  180,  184,  198,  211,  214,  230,  231,  234,
         241,  254,  258,  269,  276,  279,  319,  351,  354,  356,  358,
         360,  372,  378,  382,  383,  405,  408,  416,  425,  444,  465,
         486,  491,  492,  495,  498,  502,  503,  514,  529,  542,  546,
         547,  553,  567,  569,  572,  586,  601,  613,  616,  619,  626,
         679,  708,  715,  716,  734,  735,  737,  749,  762,  766,  771,
         773,  777,  779,  780,  781,  783,  790,  792,  797,  808,  826,
         830,  837,  842,  851,  869,  877,  893,  900,  933,  957,  985,
         987, 1005, 1024, 1027, 1037, 1042, 1044, 1052, 1064, 1083, 1117,
        1128, 1136, 1149, 1158, 1161, 1165, 1169, 1191, 1192, 1193, 1204,
        1209, 1238, 1242, 1248, 1253, 1258, 1271, 1309, 1322, 1337, 1339,
        1346, 1367, 1378, 1388, 1396, 1418, 1420, 1423, 1428, 1435, 1437,
        1443, 1467, 1472, 1473, 1483, 1484, 1503, 1531, 1533, 1537, 1539,
        1542, 1574, 1588, 1593, 1601, 1602, 1610, 1617, 1641, 1651, 1653,
        1662, 1674, 1711, 1718, 1752, 1754, 1755, 1756, 1757, 1768, 1773,
        1784, 1804, 1812, 1837, 1845, 1848, 1861, 1862, 1863, 1867, 1872,
        1877, 1882, 1884, 1887, 1892, 1903, 1931, 1935, 1951, 1977, 1978,
        2003, 2027, 2029, 2044, 2051, 2076, 2106, 2115, 2118, 2139, 2146,
        2152, 2154, 2158, 2160, 2164, 2173, 2194, 2202, 2203, 2209, 2230,
        2253, 2258, 2260, 2275, 2289, 2293, 2309, 2316, 2335, 2343, 2347,
        2353, 2374, 2384, 2386, 2396, 2400, 2401, 2407, 2414, 2420, 2467,
        2468, 2479, 2480, 2517, 2526, 2539, 2549, 2568, 2594, 2602, 2614,
        2618, 2619, 2641, 2642, 2645, 2662, 2664, 2665, 2666, 2672, 2682,
        2687, 2692, 2701, 2727, 2732, 2734, 2735, 2760, 2766, 2774, 2794,
        2800, 2805, 2818, 2822, 2828, 2845, 2847, 2868, 2882, 2895, 2904,
        2911, 2933, 2942, 2948, 2949, 2971, 2976, 2987, 2989, 2991, 3031,
        3085, 3086, 3109, 3148, 3157, 3180, 3188, 3189, 3200, 3209, 3210,
        3214, 3222, 3237, 3241, 3243, 3246, 3255, 3269, 3291, 3302, 3304,
        3309, 3317, 3320, 3331], dtype=int64)}

In [24]:
IntGroups.groups

{'no': [0, 1, 2, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, ...], 'yes': [3, 4, 5, 7, 9, 38, 41, 66, 67, 81, 115, 135, 144, 147, 180, 184, 198, 211, 214, 230, 231, 234, 241, 254, 258, 269, 276, 279, 319, 351, 354, 356, 358, 360, 372, 378, 382, 383, 405, 408, 416, 425, 444, 465, 486, 491, 492, 495, 498, 502, 503, 514, 529, 542, 546, 547, 553, 567, 569, 572, 586, 601, 613, 616, 619, 626, 679, 708, 715, 716, 734, 735, 737, 749, 762, 766, 771, 773, 777, 779, 780, 781, 783, 790, 792, 797, 808, 826, 830, 837, 842, 851, 869, 877, 893, 900, 933, 957, 985, 987, ...]}

In [25]:
IntGroups.mean(numeric_only = True)

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
international plan,,,,,,,,,,,,,,,,,
no,100.742193,436.508638,8.059801,178.893887,100.410963,30.412495,200.663090,100.074419,17.056565,201.350831,100.027907,9.060877,10.195349,4.465449,2.753279,1.573422,0.114950
yes,104.071207,443.461300,8.464396,187.986997,100.665635,31.958390,203.936842,100.486068,17.334923,196.410217,100.851393,8.838483,10.628173,4.609907,2.869907,1.464396,0.424149

In [28]:
EthnicGroups.get_group("yes")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3304,IL,71,510,330-7137,yes,no,0,186.1,114,31.64,...,140,16.88,206.5,80,9.29,13.8,5,3.73,4,True
3309,VT,100,408,340-9449,yes,no,0,219.4,112,37.30,...,102,19.18,255.3,95,11.49,12.0,4,3.24,4,False
3317,SD,163,415,379-7290,yes,no,0,197.2,90,33.52,...,113,16.02,211.1,94,9.50,7.8,8,2.11,1,False
3320,GA,122,510,411-5677,yes,no,0,140.0,101,23.80,...,77,16.69,120.1,133,5.40,9.7,4,2.62,4,True
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [30]:
st_df[st_df["churn"] == 0]

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [33]:
loyal_count = st_df[st_df['churn'] == 0].shape[0]
churn_count = st_df[st_df['churn'] == 1].shape[0]

print(f'Loyal users: {loyal_count}')
print(f'churn users: {churn_count}')

total_users = st_df.shape[0]
loyal_percentage = (loyal_count / total_users) * 100
churn_percentage = (churn_count / total_users) * 100

print(f'Loyal users %: {loyal_percentage:.2f}%')
print(f'Churn users %: {churn_percentage:.2f}%')

Loyal users: 2850
churn users: 483
Loyal users %: 85.51%
Churn users %: 14.49%

In [37]:
average_calls_by_state = st_df.groupby('state')['total day calls'].mean()
print(average_calls_by_state)

state
AK     95.269231
AL     99.100000
AR    102.145455
AZ    100.109375
CA    104.500000
CO     95.121212
CT     98.432432
DC    100.166667
DE     98.639344
FL    101.000000
GA    103.055556
HI    102.811321
IA    103.045455
ID    106.219178
IL    101.689655
IN    107.056338
KS    101.028571
KY    100.338983
LA    103.509804
MA    102.292308
MD     99.357143
ME     99.500000
MI    101.205479
MN     99.119048
MO     99.936508
MS    100.707692
MT     95.220588
NC    102.794118
ND    100.145161
NE     97.409836
NH     98.964286
NJ    100.102941
NM    102.241935
NV    101.424242
NY     98.240964
OH     99.628205
OK    100.262295
OR     95.730769
PA     98.644444
RI    100.430769
SC    102.466667
SD     94.816667
TN    101.452830
TX     99.986111
UT     98.958333
VA    105.363636
VT    100.328767
WA    101.196970
WI     96.679487
WV    103.783019
WY    102.220779
Name: total day calls, dtype: float64

C:\Users\atyra\AppData\Local\Temp\ipykernel_25104\3268398985.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_calls_by_state = st_df.groupby('state')['total day calls'].mean()

In [38]:
average_calls_by_state = st_df.groupby('state')['total night calls'].mean()
print(average_calls_by_state)

state
AK     97.346154
AL     98.612500
AR     99.054545
AZ     99.984375
CA     99.205882
CO     97.060606
CT    102.283784
DC     97.666667
DE    101.213115
FL    100.333333
GA    105.425926
HI     99.150943
IA    100.136364
ID    100.424658
IL     99.224138
IN    101.929577
KS     99.028571
KY    101.694915
LA     99.588235
MA     96.600000
MD     95.757143
ME     98.967742
MI    102.630137
MN    102.130952
MO    101.269841
MS    100.892308
MT    102.382353
NC    100.500000
ND    102.274194
NE    101.639344
NH     96.678571
NJ    100.147059
NM    100.870968
NV    101.363636
NY     99.409639
OH    103.256410
OK    100.983607
OR    102.679487
PA     98.911111
RI    100.338462
SC    100.183333
SD     94.016667
TN     94.264151
TX    101.041667
UT    100.625000
VA     94.922078
VT    100.767123
WA    102.909091
WI    100.461538
WV    100.566038
WY    102.025974
Name: total night calls, dtype: float64

C:\Users\atyra\AppData\Local\Temp\ipykernel_25104\2158387091.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_calls_by_state = st_df.groupby('state')['total night calls'].mean()