Импортируйте две библиотеки: **random** и **pandas**. </br>**random** будет использоваться для генерации случайных чисел и выбора типа ошибки формата числа

In [1]:
import random
import pandas as pd

In [2]:
df = pd.read_excel('Customers.xlsx')
df

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luнs,Gonзalves,Embraer - Empresa Brasileira de Aeronбutica S.A.,"Av. Brigadeiro Faria Lima, 2170",Sгo Josй dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Kцhler,NaN,Theodor-Heuss-StraЯe 34,Stuttgart,NaN,Germany,70174,4907112842222,NaN,leonekohler@surfeu.de,5
2,3,Franзois,Tremblay,NaN,1498 rue Bйlanger,Montrйal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NaN,ftremblay@gmail.com,3
3,4,Bjшrn,Hansen,NaN,Ullevеlsveien 14,Oslo,NaN,Norway,171,+47 22 44 22 22,NaN,bjorn.hansen@yahoo.no,4
4,5,Frantiљek,Wichterlovб,JetBrains s.r.o.,Klanova 9/506,Prague,NaN,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holэ,NaN,Rilskб 3174/6,Prague,NaN,Czech Republic,14300,+420 2 4177 0449,NaN,hholy@gmail.com,5
6,7,Astrid,Gruber,NaN,"RotenturmstraЯe 4, 1010 Innere Stadt",Vienne,NaN,Austria,1010,+43 01 5134505,NaN,astrid.gruber@apple.at,5
7,8,Daan,Peeters,NaN,Grйtrystraat 63,Brussels,NaN,Belgium,1000,+32 02 219 03 03,NaN,daan_peeters@apple.be,4
8,9,Kara,Nielsen,NaN,Sшnder Boulevard 51,Copenhagen,NaN,Denmark,1720,45333319991,NaN,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcгo Filho, 155",Sгo Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",Sгo Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praзa Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,NaN,Qe 7 Bloco G,Brasнlia,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,NaN,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,NaN,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,NaN,dmiller@comcast.com,4
20,21,Kathy,Chase,NaN,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,NaN,kachase@hotmail.com,5
21,22,Heather,Leacock,NaN,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,NaN,hleacock@gmail.com,4
22,23,John,Gordon,NaN,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,NaN,johngordon22@yahoo.com,4
23,24,Frank,Ralston,NaN,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,NaN,fralston@gmail.com,3
24,25,Victor,Stevens,NaN,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,NaN,vstevens@yahoo.com,5
25,26,Richard,Cunningham,NaN,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,NaN,ricunningham@hotmail.com,4
26,27,Patrick,Gray,NaN,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,NaN,patrick.gray@aol.com,4
27,28,Julia,Barnett,NaN,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,NaN,jubarnett@gmail.com,5
28,29,Robert,Brown,NaN,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,NaN,robbrown@shaw.ca,3
29,30,Edward,Francis,NaN,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,NaN,edfrancis@yachoo.ca,3
30,31,Martha,Silk,NaN,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,NaN,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,NaN,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,NaN,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,NaN,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,NaN,ellie.sullivan@shaw.ca,3
33,34,Joгo,Fernandes,NaN,Rua da Assunзгo 53,Lisbon,NaN,Portugal,NaN,+351 (213) 466-111,NaN,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,NaN,"Rua dos Campeхes Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
35,36,Hannah,Schneider,NaN,TauentzienstraЯe 8,Berlin,NaN,Germany,10789,4903026550280,NaN,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,NaN,Berger StraЯe 10,Frankfurt,NaN,Germany,60316,4906940598889,NaN,fzimmermann@yahoo.de,3
37,38,Niklas,Schrцder,NaN,BarbarossastraЯe 19,Berlin,NaN,Germany,10779,490302141444,NaN,nschroder@surfeu.de,3
38,39,Camille,Bernard,NaN,"4, Rue Milton",Paris,NaN,France,75009,+33 01 49 70 65 65,NaN,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,NaN,"8, Rue Hanovre",Paris,NaN,France,75002,+33 01 47 42 71 71,NaN,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,NaN,"11, Place Bellecour",Lyon,NaN,France,69002,+33 04 78 30 30 30,NaN,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,NaN,"9, Place Louis Barthou",Bordeaux,NaN,France,33000,+33 05 56 96 96 96,NaN,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,NaN,"68, Rue Jouvence",Dijon,NaN,France,21000,+33 03 80 73 66 99,NaN,isabelle_mercier@apple.fr,3
43,44,Terhi,Hдmдlдinen,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,530,+358 09 870 2000,NaN,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovбcs,NaN,Erzsйbet krt. 58.,Budapest,NaN,Hungary,H-1073,NaN,NaN,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,NaN,3 Chatham Street,Dublin,Dublin,Ireland,NaN,+353 01 6792424,NaN,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,NaN,"Via Degli Scipioni, 43",Rome,RM,Italy,192,+39 06 39733434,NaN,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,NaN,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,310206223130,NaN,johavanderberg@yahoo.nl,5
48,49,Stanis?aw,Wуjcik,NaN,Ordynacka 10,Warsaw,NaN,Poland,00-358,+48 22 828 37 39,NaN,stanis?aw.wуjcik@wp.pl,4
49,50,Enrique,Muсoz,NaN,C/ San Bernardo 85,Madrid,NaN,Spain,28015,34914454454,NaN,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,NaN,Celsiusg. 9,Stockholm,NaN,Sweden,11230,+46 08-651 52 52,NaN,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,NaN,202 Hoxton Street,London,NaN,United Kingdom,N1 5LH,4402077070707,NaN,emma_jones@hotmail.com,3
52,53,Phil,Hughes,NaN,113 Lupus St,London,NaN,United Kingdom,SW1V 3EN,4402079765722,NaN,phil.hughes@gmail.com,3
53,54,Steve,Murray,NaN,110 Raeburn Pl,Edinburgh,NaN,United Kingdom,EH4 1HH,4401313153300,NaN,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,NaN,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,NaN,mark.taylor@yahoo.au,4
55,56,Diego,Gutiйrrez,NaN,307 Macacha Gьemes,Buenos Aires,NaN,Argentina,1106,+54 (0)11 4311 4333,NaN,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,NaN,"Calle Lira, 198",Santiago,NaN,Chile,NaN,+56 (0)2 635 4444,NaN,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,NaN,"12,Community Centre",Delhi,NaN,India,110017,91012439883988,NaN,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,9108022289999,NaN,puja_srivastava@yahoo.in,3

In [13]:
# Функция для генерации датасета
def generate_dataset(num_samples):
    dataset = []  # Создаем пустой список для датасета
    for _ in range(num_samples):
        # Случайным образом выбираем тип ошибки формата числа
        error_type = random.choice(['missing_decimal', 'extra_decimal', 'wrong_delimiter'])
        
        if error_type == 'missing_decimal':
            # Генерируем число без десятичной части
            number = random.randint(1, 100)
            dataset.append(str(number))
            
        elif error_type == 'extra_decimal':
            # Генерируем число с дополнительной десятичной точкой
            number = random.uniform(1, 100)
            dataset.append(str(number).replace('.', '..'))
            
        elif error_type == 'wrong_delimiter':
            # Генерируем число с неправильным разделителем десятичной части
            number = random.uniform(1, 100)
            dataset.append(str(number).replace('.', ','))
    
    return dataset

# Генерируем датасет с 10 примерами
dataset = generate_dataset(10)

# Создаем DataFrame из датасета
df = pd.DataFrame(dataset, columns=['Value'])

# Сохраняем датасет в CSV-файл
df.to_csv('data.csv', index=False)
print("Датасет сохранен в data.csv.")

Датасет сохранен в data.csv.

Выводим датасет, которые мы сгенерировали с помощью библиотеки pandas

In [14]:
import pandas as pd

data = pd.read_csv('data.csv')
data

                Value
0  35..45649940311365
1  69..56279370013117
2                  97
3                  52
4                  95
5                  20
6                  43
7   49,95362126701798
8   99..6457362272234
9  51..05046840784886

Проверяем тип данных колонки Value в датасете data

In [15]:
print(data['Value'].dtype)

object

В Python тип данных **"object"** относится к общему классу объектов, который является базовым для всех остальных типов данных.

Когда переменная имеет тип "object", это означает, что ее значение может быть любым объектом в Python. Объекты могут быть экземплярами различных классов, таких как строки (str), списки (list), словари (dict), функции (function) и т. д.

Тип "object" является динамическим типом данных, что означает, что переменная этого типа может принимать значения разных типов в разное время выполнения программы. Таким образом, переменная типа "object" может содержать данные любого типа в Python.

**1 способ через replace строки**

In [16]:
# Удаление некорректных символов и замена запятой и двух точек на точку
data['Value'].str.replace(',', '.').str.replace('..','.')

#Замена произошла неверно

0    35.45649940311365
1    69.56279370013117
2                   97
3                   52
4                   95
5                   20
6                   43
7    49.95362126701798
8     99.6457362272234
9    51.05046840784886
Name: Value, dtype: object

**2 способ с добавлением перевода в тип данных float(astype)**

In [17]:
# Замена запятой на точку и преобразование в тип float
data['Value'].str.replace(',', '.').astype(float)

# Получаем ошибку

ValueError: could not convert string to float: '35..45649940311365'

*Правильный способ* </br>
**3 способ с использованием библиотеки re**
 </br>
В этом примере мы используем регулярное выражение r"[-+]?\d*\.\d+|\d+", чтобы найти числа с плавающей точкой или целые числа в каждом значении столбца "Value". Затем мы преобразуем каждое найденное совпадение в тип float с помощью функции float и сохраняем обновленные значения в столбце "Value" в датасете data. Результат будет содержать столбец "Value" с числами в типе float.

In [18]:
import re

# Используем регулярное выражение для поиска чисел с плавающей точкой в каждом значении столбца
pattern = r"[-+]?\d*\.\d+|\d+"

# Преобразуем значения столбца в тип float с помощью регулярных выражений и функции float
data['Value'] = data['Value'].apply(lambda x: float(re.findall(pattern, x)[0]))

print("Преобразованный датасет:")
data

Преобразованный датасет:

   Value
0   35.0
1   69.0
2   97.0
3   52.0
4   95.0
5   20.0
6   43.0
7   49.0
8   99.0
9   51.0

In [20]:
# Сохраняем новый датасет в CSV-файл
data.to_csv('new_dataset.csv', index=False)
print("Новый датасет сохранен в new_dataset.csv.")

Новый датасет сохранен в new_dataset.csv.

## Good job!