### Import Pandas

In [2]:
import pandas as pd

### Создаем Series из списка, состоящего из strings

In [3]:
# создаем список (внутри только один тип данных - string)
colors = ['black', 'brown', 'blue', 'green']

#в pandas type: object это string
pd.Series(colors)

0    black
1    brown
2     blue
3    green
dtype: object

### Создаем Series из списка с integers

In [4]:
grades = [5, 4, 3, 3, 2]

#в pandas type: object это string
pd.Series(grades)

0    5
1    4
2    3
3    3
4    2
dtype: int64

### Создаем Series из списка с booleans

In [5]:
booleans = [True, False, True, False]

#в pandas type: object это string
pd.Series(booleans)

0     True
1    False
2     True
3    False
dtype: bool

### Создаем Series из cловаря

In [6]:
# создаем словарь
teamDataBoom = {"name":["Тамара", "Айгуль", "Аяжан"], 
                "jobtitle":["Старшая наставница", "Наставница Python", "Наставница Python"],
                "num_of_students":[15,16,14],
                "avg_rating":[4.98,4.99,5.00]
               }

# создаем Series из dictionary
pd.Series(teamDataBoom)

name                                         [Тамара, Айгуль, Аяжан]
jobtitle           [Старшая наставница, Наставница Python, Настав...
num_of_students                                         [15, 16, 14]
avg_rating                                         [4.98, 4.99, 5.0]
dtype: object

### Читаем CSV файлы с помощью `read_csv()`

In [11]:
#жми TAB чтобы увидеть список того, что есть
#жми SHIFT+TAB или SHIFT+TAB+TAB чтобы увидеть параметры/примеры/документацию
pd.read_csv('/Users/atyra/OneDrive/Desktop/Python/week3/states_1.csv',sep=';')

,Abbreviation,State,Capital City,pop_rank,Pop,Growth,Pop2021,Pop2010,growthSince2010,Percent,density
0,AL,Alabama,Montgomery,24,5073187,0.0048,5048733,4779736,0.0614,0.0151,100.1715
1,AK,Alaska,Juneau,48,738023,0.0031,735707,710231,0.0391,0.0022,1.2933
2,AZ,Arizona,Phoenix,14,7303398,0.0105,7227450,6392017,0.1426,0.0218,64.2939
3,AR,Arkansas,Little Rock,33,3030646,0.0032,3021085,2915918,0.0393,0.0090,58.2425
4,CA,California,Sacramento,1,39995077,0.0057,39766650,37253956,0.0736,0.1193,256.7424
5,CO,Colorado,Denver,21,5922618,0.0127,5848166,5029196,0.1776,0.0177,57.1450
6,CT,Connecticut,Hartford,29,3612314,0.0009,3609129,3574097,0.0107,0.0108,746.0376
7,DE,Delaware,Dover,45,1008350,0.0092,999149,897934,0.1230,0.0030,517.3679
8,FL,Florida,Tallahassee,3,22085563,0.0125,21811875,18801310,0.1747,0.0659,411.8520
9,GA,Georgia,Atlanta,8,10916760,0.0095,10814334,9687653,0.1269,0.0326,189.8138
10,HI,Hawaii,Honolulu,40,1474265,0.0065,1464768,1360301,0.0838,0.0044,229.5290
11,ID,Idaho,Boise,38,1893410,0.0145,1866258,1567582,0.2079,0.0056,22.9107
12,IL,Illinois,Springfield,6,12808884,-0.0001,12810696,12830632,-0.0017,0.0382,230.7117
13,IN,Indiana,Indianapolis,17,6845874,0.0044,6815701,6483802,0.0558,0.0204,191.0868
14,IA,Iowa,Des Moines,31,3219171,0.0045,3204770,3046355,0.0567,0.0096,57.6324
15,KS,Kansas,Topeka,35,2954832,0.0029,2946356,2853118,0.0357,0.0088,36.1408
16,KY,Kentucky,Frankfort,26,4539130,0.0037,4522483,4339367,0.0460,0.0135,114.9554
17,LA,Louisiana,Baton Rouge,25,4682633,0.0027,4670195,4533372,0.0329,0.0140,108.3842
18,ME,Maine,Augusta,42,1369159,0.0025,1365759,1328361,0.0307,0.0041,44.3912
19,MD,Maryland,Annapolis,18,6257958,0.0065,6217591,5773552,0.0839,0.0187,644.6851
20,MA,Massachusetts,Boston,15,7126375,0.0068,7078146,6547629,0.0884,0.0213,913.6378
21,MI,Michigan,Lansing,10,10116069,0.0019,10096700,9883640,0.0235,0.0302,178.9220
22,MN,Minnesota,St. Paul,22,5787008,0.0070,5746751,5303925,0.0911,0.0173,72.6765
23,MS,Mississippi,Jackson,34,2960075,-0.0002,2960677,2967297,-0.0024,0.0088,63.0837
24,MO,Missouri,Jefferson City,19,6188111,0.0027,6171512,5988927,0.0333,0.0185,90.0194
25,MT,Montana,Helena,44,1103187,0.0087,1093706,989415,0.1150,0.0033,7.5796
26,NE,Nebraska,Lincoln,37,1988536,0.0068,1975020,1826341,0.0888,0.0059,25.8843
27,NV,Nevada,Carson City,32,3185426,0.0128,3145020,2700551,0.1795,0.0095,29.0162
28,NH,New Hampshire,Concord,41,1389741,0.0044,1383635,1316470,0.0557,0.0041,155.2263
29,NJ,New Jersey,Trenton,11,9388414,0.0053,9338704,8791894,0.0678,0.0280,1276.6405
30,NM,New Mexico,Santa Fe,36,2129190,0.0027,2123356,2059179,0.0340,0.0064,17.5534
31,NY,New York,Albany,4,20365879,0.0041,20283564,19378102,0.0510,0.0607,432.1580
32,NC,North Carolina,Raleigh,9,10620168,0.0086,10529778,9535483,0.1138,0.0317,218.4411
33,ND,North Dakota,Bismarck,47,800394,0.0135,789744,672591,0.1900,0.0024,11.5997
34,OH,Ohio,Columbus,7,11852036,0.0022,11825742,11536504,0.0274,0.0353,290.0574
35,OK,Oklahoma,Oklahoma City,28,4000953,0.0052,3980153,3751351,0.0665,0.0119,58.3272
36,OR,Oregon,Salem,27,4318492,0.0095,4277874,3831074,0.1272,0.0129,44.9899
37,PA,Pennsylvania,Harrisburg,5,13062764,0.0023,13032732,12702379,0.0284,0.0390,291.9510
38,RI,Rhode Island,Providence,43,1106341,0.0041,1101860,1052567,0.0511,0.0033,1069.9623
39,SC,South Carolina,Columbia,23,5217037,0.0095,5167731,4625364,0.1279,0.0156,173.5484
40,SD,South Dakota,Pierre,46,901165,0.0081,893916,814180,0.1068,0.0027,11.8870
41,TN,Tennessee,Nashville,16,7023788,0.0081,6967314,6346105,0.1068,0.0209,170.3356
42,TX,Texas,Austin,2,29945493,0.0135,29545499,25145561,0.1909,0.0893,114.6318
43,UT,Utah,Salt Lake City,30,3373162,0.0153,3322389,2763885,0.2204,0.0101,41.0510
44,VT,Vermont,Montpelier,49,646545,0.0027,644811,625741,0.0332,0.0019,70.1470
45,VA,Virginia,Richmond,12,8757467,0.0073,8694430,8001024,0.0945,0.0261,221.7642
46,WA,Washington,Olympia,13,7901429,0.0126,7803355,6724540,0.1750,0.0236,118.8971
47,WV,West Virginia,Charleston,39,1781860,-0.0033,1787788,1852994,-0.0384,0.0053,74.1268
48,WI,Wisconsin,Madison,20,5935064,0.0035,5914391,5686986,0.0436,0.0177,109.5879
49,WY,Wyoming,Cheyenne,50,579495,0.0023,578173,563626,0.0282,0.0017,5.9685

In [12]:
#Загружаем датафрейм из csv
states_df = pd.read_csv('/Users/atyra/OneDrive/Desktop/Python/week3/states_1.csv',sep=';')

#Если csv файл лежит там же, где и ipynb, то можно не прописывать весь путь к нему
states_df = pd.read_csv('states_1.csv',sep=';')
states_df
#два раза кликнуть, чтобы свернуть output

,Abbreviation,State,Capital City,pop_rank,Pop,Growth,Pop2021,Pop2010,growthSince2010,Percent,density
0,AL,Alabama,Montgomery,24,5073187,0.0048,5048733,4779736,0.0614,0.0151,100.1715
1,AK,Alaska,Juneau,48,738023,0.0031,735707,710231,0.0391,0.0022,1.2933
2,AZ,Arizona,Phoenix,14,7303398,0.0105,7227450,6392017,0.1426,0.0218,64.2939
3,AR,Arkansas,Little Rock,33,3030646,0.0032,3021085,2915918,0.0393,0.0090,58.2425
4,CA,California,Sacramento,1,39995077,0.0057,39766650,37253956,0.0736,0.1193,256.7424
5,CO,Colorado,Denver,21,5922618,0.0127,5848166,5029196,0.1776,0.0177,57.1450
6,CT,Connecticut,Hartford,29,3612314,0.0009,3609129,3574097,0.0107,0.0108,746.0376
7,DE,Delaware,Dover,45,1008350,0.0092,999149,897934,0.1230,0.0030,517.3679
8,FL,Florida,Tallahassee,3,22085563,0.0125,21811875,18801310,0.1747,0.0659,411.8520
9,GA,Georgia,Atlanta,8,10916760,0.0095,10814334,9687653,0.1269,0.0326,189.8138
10,HI,Hawaii,Honolulu,40,1474265,0.0065,1464768,1360301,0.0838,0.0044,229.5290
11,ID,Idaho,Boise,38,1893410,0.0145,1866258,1567582,0.2079,0.0056,22.9107
12,IL,Illinois,Springfield,6,12808884,-0.0001,12810696,12830632,-0.0017,0.0382,230.7117
13,IN,Indiana,Indianapolis,17,6845874,0.0044,6815701,6483802,0.0558,0.0204,191.0868
14,IA,Iowa,Des Moines,31,3219171,0.0045,3204770,3046355,0.0567,0.0096,57.6324
15,KS,Kansas,Topeka,35,2954832,0.0029,2946356,2853118,0.0357,0.0088,36.1408
16,KY,Kentucky,Frankfort,26,4539130,0.0037,4522483,4339367,0.0460,0.0135,114.9554
17,LA,Louisiana,Baton Rouge,25,4682633,0.0027,4670195,4533372,0.0329,0.0140,108.3842
18,ME,Maine,Augusta,42,1369159,0.0025,1365759,1328361,0.0307,0.0041,44.3912
19,MD,Maryland,Annapolis,18,6257958,0.0065,6217591,5773552,0.0839,0.0187,644.6851
20,MA,Massachusetts,Boston,15,7126375,0.0068,7078146,6547629,0.0884,0.0213,913.6378
21,MI,Michigan,Lansing,10,10116069,0.0019,10096700,9883640,0.0235,0.0302,178.9220
22,MN,Minnesota,St. Paul,22,5787008,0.0070,5746751,5303925,0.0911,0.0173,72.6765
23,MS,Mississippi,Jackson,34,2960075,-0.0002,2960677,2967297,-0.0024,0.0088,63.0837
24,MO,Missouri,Jefferson City,19,6188111,0.0027,6171512,5988927,0.0333,0.0185,90.0194
25,MT,Montana,Helena,44,1103187,0.0087,1093706,989415,0.1150,0.0033,7.5796
26,NE,Nebraska,Lincoln,37,1988536,0.0068,1975020,1826341,0.0888,0.0059,25.8843
27,NV,Nevada,Carson City,32,3185426,0.0128,3145020,2700551,0.1795,0.0095,29.0162
28,NH,New Hampshire,Concord,41,1389741,0.0044,1383635,1316470,0.0557,0.0041,155.2263
29,NJ,New Jersey,Trenton,11,9388414,0.0053,9338704,8791894,0.0678,0.0280,1276.6405
30,NM,New Mexico,Santa Fe,36,2129190,0.0027,2123356,2059179,0.0340,0.0064,17.5534
31,NY,New York,Albany,4,20365879,0.0041,20283564,19378102,0.0510,0.0607,432.1580
32,NC,North Carolina,Raleigh,9,10620168,0.0086,10529778,9535483,0.1138,0.0317,218.4411
33,ND,North Dakota,Bismarck,47,800394,0.0135,789744,672591,0.1900,0.0024,11.5997
34,OH,Ohio,Columbus,7,11852036,0.0022,11825742,11536504,0.0274,0.0353,290.0574
35,OK,Oklahoma,Oklahoma City,28,4000953,0.0052,3980153,3751351,0.0665,0.0119,58.3272
36,OR,Oregon,Salem,27,4318492,0.0095,4277874,3831074,0.1272,0.0129,44.9899
37,PA,Pennsylvania,Harrisburg,5,13062764,0.0023,13032732,12702379,0.0284,0.0390,291.9510
38,RI,Rhode Island,Providence,43,1106341,0.0041,1101860,1052567,0.0511,0.0033,1069.9623
39,SC,South Carolina,Columbia,23,5217037,0.0095,5167731,4625364,0.1279,0.0156,173.5484
40,SD,South Dakota,Pierre,46,901165,0.0081,893916,814180,0.1068,0.0027,11.8870
41,TN,Tennessee,Nashville,16,7023788,0.0081,6967314,6346105,0.1068,0.0209,170.3356
42,TX,Texas,Austin,2,29945493,0.0135,29545499,25145561,0.1909,0.0893,114.6318
43,UT,Utah,Salt Lake City,30,3373162,0.0153,3322389,2763885,0.2204,0.0101,41.0510
44,VT,Vermont,Montpelier,49,646545,0.0027,644811,625741,0.0332,0.0019,70.1470
45,VA,Virginia,Richmond,12,8757467,0.0073,8694430,8001024,0.0945,0.0261,221.7642
46,WA,Washington,Olympia,13,7901429,0.0126,7803355,6724540,0.1750,0.0236,118.8971
47,WV,West Virginia,Charleston,39,1781860,-0.0033,1787788,1852994,-0.0384,0.0053,74.1268
48,WI,Wisconsin,Madison,20,5935064,0.0035,5914391,5686986,0.0436,0.0177,109.5879
49,WY,Wyoming,Cheyenne,50,579495,0.0023,578173,563626,0.0282,0.0017,5.9685

### `usecols=` чтобы выбрать только конкретные колонки

In [14]:
# Выбираем только одну колонку - dataframe из 1 колонки
pd.read_csv('states_1.csv',sep=';', usecols = ['State'])

             State
0          Alabama
1           Alaska
2          Arizona
3         Arkansas
4       California
5         Colorado
6      Connecticut
7         Delaware
8          Florida
9          Georgia
10          Hawaii
11           Idaho
12        Illinois
13         Indiana
14            Iowa
15          Kansas
16        Kentucky
17       Louisiana
18           Maine
19        Maryland
20   Massachusetts
21        Michigan
22       Minnesota
23     Mississippi
24        Missouri
25         Montana
26        Nebraska
27          Nevada
28   New Hampshire
29      New Jersey
30      New Mexico
31        New York
32  North Carolina
33    North Dakota
34            Ohio
35        Oklahoma
36          Oregon
37    Pennsylvania
38    Rhode Island
39  South Carolina
40    South Dakota
41       Tennessee
42           Texas
43            Utah
44         Vermont
45        Virginia
46      Washington
47   West Virginia
48       Wisconsin
49         Wyoming

In [15]:
# Превращаем одну колонку сразу в series с помощью squeeze
pd.read_csv('states_1.csv',sep=';', usecols = ['State']).squeeze()

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: State, dtype: object

### Читаем Excel файлы с помощью `read_excel()`

In [16]:
#устанавливаем openpyxl
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\atyra\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\atyra\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)

In [19]:
#Загружаем датафрейм из Excel
states = pd.read_excel('states.xlsx')
states

,Abbreviation,State,Capital City,pop_rank,Pop,Growth,Pop2021,Pop2010,growthSince2010,Percent,density
0,AL,Alabama,Montgomery,24,5073187,0.0048,5048733,4779736,0.0614,0.0151,100.1715
1,AK,Alaska,Juneau,48,738023,0.0031,735707,710231,0.0391,0.0022,1.2933
2,AZ,Arizona,Phoenix,14,7303398,0.0105,7227450,6392017,0.1426,0.0218,64.2939
3,AR,Arkansas,Little Rock,33,3030646,0.0032,3021085,2915918,0.0393,0.0090,58.2425
4,CA,California,Sacramento,1,39995077,0.0057,39766650,37253956,0.0736,0.1193,256.7424
5,CO,Colorado,Denver,21,5922618,0.0127,5848166,5029196,0.1776,0.0177,57.1450
6,CT,Connecticut,Hartford,29,3612314,0.0009,3609129,3574097,0.0107,0.0108,746.0376
7,DE,Delaware,Dover,45,1008350,0.0092,999149,897934,0.1230,0.0030,517.3679
8,FL,Florida,Tallahassee,3,22085563,0.0125,21811875,18801310,0.1747,0.0659,411.8520
9,GA,Georgia,Atlanta,8,10916760,0.0095,10814334,9687653,0.1269,0.0326,189.8138
10,HI,Hawaii,Honolulu,40,1474265,0.0065,1464768,1360301,0.0838,0.0044,229.5290
11,ID,Idaho,Boise,38,1893410,0.0145,1866258,1567582,0.2079,0.0056,22.9107
12,IL,Illinois,Springfield,6,12808884,-0.0001,12810696,12830632,-0.0017,0.0382,230.7117
13,IN,Indiana,Indianapolis,17,6845874,0.0044,6815701,6483802,0.0558,0.0204,191.0868
14,IA,Iowa,Des Moines,31,3219171,0.0045,3204770,3046355,0.0567,0.0096,57.6324
15,KS,Kansas,Topeka,35,2954832,0.0029,2946356,2853118,0.0357,0.0088,36.1408
16,KY,Kentucky,Frankfort,26,4539130,0.0037,4522483,4339367,0.0460,0.0135,114.9554
17,LA,Louisiana,Baton Rouge,25,4682633,0.0027,4670195,4533372,0.0329,0.0140,108.3842
18,ME,Maine,Augusta,42,1369159,0.0025,1365759,1328361,0.0307,0.0041,44.3912
19,MD,Maryland,Annapolis,18,6257958,0.0065,6217591,5773552,0.0839,0.0187,644.6851
20,MA,Massachusetts,Boston,15,7126375,0.0068,7078146,6547629,0.0884,0.0213,913.6378
21,MI,Michigan,Lansing,10,10116069,0.0019,10096700,9883640,0.0235,0.0302,178.9220
22,MN,Minnesota,St. Paul,22,5787008,0.0070,5746751,5303925,0.0911,0.0173,72.6765
23,MS,Mississippi,Jackson,34,2960075,-0.0002,2960677,2967297,-0.0024,0.0088,63.0837
24,MO,Missouri,Jefferson City,19,6188111,0.0027,6171512,5988927,0.0333,0.0185,90.0194
25,MT,Montana,Helena,44,1103187,0.0087,1093706,989415,0.1150,0.0033,7.5796
26,NE,Nebraska,Lincoln,37,1988536,0.0068,1975020,1826341,0.0888,0.0059,25.8843
27,NV,Nevada,Carson City,32,3185426,0.0128,3145020,2700551,0.1795,0.0095,29.0162
28,NH,New Hampshire,Concord,41,1389741,0.0044,1383635,1316470,0.0557,0.0041,155.2263
29,NJ,New Jersey,Trenton,11,9388414,0.0053,9338704,8791894,0.0678,0.0280,1276.6405
30,NM,New Mexico,Santa Fe,36,2129190,0.0027,2123356,2059179,0.0340,0.0064,17.5534
31,NY,New York,Albany,4,20365879,0.0041,20283564,19378102,0.0510,0.0607,432.1580
32,NC,North Carolina,Raleigh,9,10620168,0.0086,10529778,9535483,0.1138,0.0317,218.4411
33,ND,North Dakota,Bismarck,47,800394,0.0135,789744,672591,0.1900,0.0024,11.5997
34,OH,Ohio,Columbus,7,11852036,0.0022,11825742,11536504,0.0274,0.0353,290.0574
35,OK,Oklahoma,Oklahoma City,28,4000953,0.0052,3980153,3751351,0.0665,0.0119,58.3272
36,OR,Oregon,Salem,27,4318492,0.0095,4277874,3831074,0.1272,0.0129,44.9899
37,PA,Pennsylvania,Harrisburg,5,13062764,0.0023,13032732,12702379,0.0284,0.0390,291.9510
38,RI,Rhode Island,Providence,43,1106341,0.0041,1101860,1052567,0.0511,0.0033,1069.9623
39,SC,South Carolina,Columbia,23,5217037,0.0095,5167731,4625364,0.1279,0.0156,173.5484
40,SD,South Dakota,Pierre,46,901165,0.0081,893916,814180,0.1068,0.0027,11.8870
41,TN,Tennessee,Nashville,16,7023788,0.0081,6967314,6346105,0.1068,0.0209,170.3356
42,TX,Texas,Austin,2,29945493,0.0135,29545499,25145561,0.1909,0.0893,114.6318
43,UT,Utah,Salt Lake City,30,3373162,0.0153,3322389,2763885,0.2204,0.0101,41.0510
44,VT,Vermont,Montpelier,49,646545,0.0027,644811,625741,0.0332,0.0019,70.1470
45,VA,Virginia,Richmond,12,8757467,0.0073,8694430,8001024,0.0945,0.0261,221.7642
46,WA,Washington,Olympia,13,7901429,0.0126,7803355,6724540,0.1750,0.0236,118.8971
47,WV,West Virginia,Charleston,39,1781860,-0.0033,1787788,1852994,-0.0384,0.0053,74.1268
48,WI,Wisconsin,Madison,20,5935064,0.0035,5914391,5686986,0.0436,0.0177,109.5879
49,WY,Wyoming,Cheyenne,50,579495,0.0023,578173,563626,0.0282,0.0017,5.9685

### `usecols=` чтобы выбрать только конкретные колонки

In [22]:
# Выбираем только одну колонку - dataframe из 1 колонки, и сразу в series с помощью squeeze
states = pd.read_excel('states.xlsx', usecols = ['State']).squeeze()
states

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: State, dtype: object

### `head()` & `tail()`

In [24]:
# head() - первые 5 строк по умолчанию
states.head(10)

0        Alabama
1         Alaska
2        Arizona
3       Arkansas
4     California
5       Colorado
6    Connecticut
7       Delaware
8        Florida
9        Georgia
Name: State, dtype: object

In [26]:
# tail() - последние 5 строк по умолчанию
states.tail(10)

40     South Dakota
41        Tennessee
42            Texas
43             Utah
44          Vermont
45         Virginia
46       Washington
47    West Virginia
48        Wisconsin
49          Wyoming
Name: State, dtype: object

### атрибуты Series - в отличие от функций и методов, не нужны ()

In [30]:
#список превращаем в series (object это string) 
colors = ['black', 'brown', 'blue', 'green']
colors = pd.Series(colors)

In [32]:
#значения
colors.values

array(['black', 'brown', 'blue', 'green'], dtype=object)

In [31]:
#индекс
colors.index

RangeIndex(start=0, stop=4, step=1)

In [33]:
#тип данных, dtype('O') = Object, то есть string в Pandas
colors.dtype

dtype('O')

### методы Series

In [35]:
#список превращаем в series
grades = [5, 4, 3, 3, 2]
grades = pd.Series(grades)

###  `sum()` ,  `product()` и  `mean()`

In [36]:
grades.sum()

17

In [38]:
grades.product()

360

In [39]:
grades.mean()

3.4

###  ключевое слово in (keyword)

In [41]:
# IN не только для pandas, но и в целом в Python работает
5 in [5, 4, 3, 3, 2]

True

In [44]:
# при работе с pandas series, IN по умолчанию "смотрит" на index
print(colors)
print("green in colors ", 'green' in colors)
print("3 in colors ", 3 in colors)

#чтобы поиск был по значениям, нужно использовать атрибут values 
'green' in colors.values

0    black
1    brown
2     blue
3    green
dtype: object
green in colors  False
3 in colors  True

True

###  слайсинг по индексу

In [47]:
#индекс в series, как и в листах, начинается с нуля
states = pd.read_excel('states.xlsx', usecols = ['State']).squeeze()
print("states[0]", states[0])
print("states[1]", states[1])
states

states[0] Alabama
states[1] Alaska

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: State, dtype: object

In [48]:
#индекс в series, как и в листах - end is exclusive
print("states[1:3] ", states[1:3])

states[1:3]  1     Alaska
2    Arizona
Name: State, dtype: object

In [49]:
#отрицательный идекс будет начинать с конца, где [-1:] даст последний элемент
print("last state: states[-1:] ", states[-1:])
print("last state: states[-5:] ", states[-5:])
print("between 10 and 5: states[-10:-5]", states[-10:-5])

last state: states[-1:]  49    Wyoming
Name: State, dtype: object
last state: states[-5:]  45         Virginia
46       Washington
47    West Virginia
48        Wisconsin
49          Wyoming
Name: State, dtype: object
between 10 and 5: states[-10:-5] 40    South Dakota
41       Tennessee
42           Texas
43            Utah
44         Vermont
Name: State, dtype: object

###  слайсинг по нескольким индексам сразу

In [50]:
# для выбора нескольких индексов, расположенных не по порядку, нужны двойные квадратные скобки
states[[1,3,5,7,9]]

1      Alaska
3    Arkansas
5    Colorado
7    Delaware
9     Georgia
Name: State, dtype: object

###  слайсинг по labels

In [54]:
# загружаем, превращаем в series, и с помощью параметра index_col превращаем колонку в индекс
states_df = pd.read_csv('states_1.csv',sep=';', 
        usecols = ['Abbreviation', 'State'], 
        index_col = ['Abbreviation']).squeeze()
states

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: State, dtype: object

In [74]:
#слайсинг по index labels
#print(states["VA"])
print(states[-4:])
#print(states["AL":"FL"])

46       Washington
47    West Virginia
48        Wisconsin
49          Wyoming
Name: State, dtype: object

In [76]:
#сразу несколько index labels - двойные квадратные скобки
#print(states[["MD","WA"]])
print(states[[19,46]])

19      Maryland
46    Washington
Name: State, dtype: object